<div class="flex container">
  <div class="container-info">
    <img [src]="data.avatarURL || 'https://avatars.githubusercontent.com/u/1?v=4'" class="avatar" alt="">
    <p>{{data.name}}</p>
    <p>{{data.city}}</p>
    <p>{{data.technologies}}</p>
    <div class="flex container-footer">
      @if (data.userGithub !== '') {
      <p><button (click)="openGitHub()">Acessar GitHub</button></p>
      } @else {
      <p></p>
      }
      <span>
        <button>
          <i class="fa-regular fa-pen-to-square" style="color: #4299E1;"></i>
        </button>
      </span>

      <span>
        <button>
          <i class="fa-regular fa-trash-can" style="color: #E53E3E;"></i>
        </button>
      </span>
    </div>
  </div>
</div>
