<div class="flex container">
  <div class="container-info">
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="avatar" alt="">
    <p>João da Silva</p>
    <p>Maringá-PR</p>
    <p>Angular, JQuery, Vue</p>
    <div class="flex container-footer">
      <p><button>Acessar GitHub</button></p>
      <span>
        <button>
          <i class="fa-regular fa-pen-to-square" style="color: #4299E1;"></i>
        </button>
      </span>

      <span>
        <button>
          <i class="fa-regular fa-trash-can" style="color: #E53E3E;"></i>
        </button>
      </span>
    </div>
  </div>
</div>
