@import '../../../variables.scss';

.container {
  background-color: $bg-color;
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
}

.title {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.detail-title {
  margin-top: 5px;
  height: 1.06rem;
  margin-right: 0.2rem;
  width: 0.2rem;
  background-color: #4FD1C5;
}
